@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Ghost';
    src: url(fontes/iknowaghost.ttf);
}

@font-face {
    font-family: 'Thunderbolt';
    src: url(fontes/Thunderbolt.ttf);
}

:root {
    --cor0: #06070E;
    --cor1: #29524A;
    --cor2: #94A187;
    --cor3: #C20114;
    --cor4: #FFCD06;

    --fonte-padrao: "Kanit", sans-serif;
    --fonte-destaque: 'Thunderbolt', sans-serif;
    --fonte-especial: 'Ghost', sans-serif;
}